html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
  font-family: 'Muli', sans-serif;
  background-color: #1A1A1D;
  color: white;
}
a {
  color: inherit;
  text-decoration: none;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
background-color: white;
border-radius: 5px;
}

#hmbkg {
  background: url('../images/hmbkg.jpeg') no-repeat;
  background-size:cover;
  height: 100vh;
  width: 100%;
  display: block;
  background-attachment: fixed;
}

#vertBar {
  position: absolute;
  width: 1px;
  height: 1px;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: rotate(90deg);
  transition: width .5s cubic-bezier(0, 0.5, 0.25, 1), left .5s cubic-bezier(0, 0.5, 0.25, 1), transform .5s cubic-bezier(0, 0.5, 0.25, 1);
}

#name {
  position: absolute;
  top: 40.75vh;
  color: white;
  width: 100%;
  opacity: 0;
  transition: opacity .5s ease;
}

#name p {
  padding: 13px 0;
  font-size: 60px;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 100%;
  text-align: center;
}

nav {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 999;
  cursor: pointer;
  transition: left .5s ease;
}

nav div {
  width: 35px;
  height: 2px;
  background-color: white;
  display: block;
  margin: 6px 0;
  transition: transform .5s ease, background-color .5s ease, top .5s ease;
  z-index: 999;
  position: relative;
  transform-origin: 0 50%;
}

nav section {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: white;
  width: 400px;
  z-index: 998;
  transition: margin .5s ease;
  margin-left: -400px;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,.5);
  width: 100%;
  height: 100vh;
  display: none;
  z-index: 997;
}

nav ul li a {
  color: #1A1A1D;
  font-size: 22px;
  width: 100%;
  padding: 13px 0;
  display: block;
  position: relative;
  text-transform: uppercase;
}

nav ul {
  width: 65%;
  display: block;
  position: relative;
  margin: 40px;
  margin-top: 70px;
}

nav ul li {
  width: 100%;
  display: block;
  border-bottom: 1px solid #1A1A1D;
  margin-bottom: 20px;
}

nav ul li:after{
  width: 0;
  display: block;
  background-color: #1A1A1D;
  height: 2px;
  position: relative;
  content: "";
  transition: width .5s ease;
}

nav ul li:hover:after{
  width: 100%;
}

#offer h1 {
  width: 100%;
  padding: 45px 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 35px;
  color: #1A1A1D;
  background-color: white;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  #name p {
    font-size: 40px;
  }
  #name {
    top: 33.5vh;
  }
  nav section {
    width: 100%;
  }
  #offer h1 {
    font-size: 30px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  nav ul {
    margin-left: 45%;
    width: 45%;
  }
  nav section {
    left: -40%;
  }
}